@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@Html.Partial("_Headline")
<div class="row">
    <div class="col-md-6">
        <!-- Login form  -->
    </div>
    <div class="col-md-6">
        <!-- Registration form -->
    </div>
</div>