@inherits UmbracoTemplatePage
@using Website
@{
	Layout = "Master.cshtml";
}

@Html.Partial("_Headline")

@*@@if (CurrentCustomer.Basket().Items.Any())
{
    <!-- Basket form -->
}
else
{
    <p><a href="@ExampleUiHelper.Content.GetStoreRoot().Url">There's nothing in your shopping cart, start shopping!</a></p>
}*@



