@inherits UmbracoTemplatePage
@{
	Layout = "Checkout.cshtml";
}
<div class="row">

    <div class="col-md-6" data-muitarget="checkoutaddresses">
       @RenderBody()
    </div>

    <div class="col-md-6">
        <!-- Basket Summary -->
    </div>

</div>